@font-face {
    font-family: 'Hey-August';
    src:  url('Hey-August.woff') format('woff2'),
          url('Hey-August.woff2') format('woff');
}

html, 
body {
    margin: 0px;
    height: 100%;
    font-family: 'Hey-August', Verdana, 'Geneva', Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

#layout {
    display: flex;
    height: 100%;
    justify-content: center;
}

#left-img,
#right-img {
    flex: 1;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#left-img {
    background-image: url(../images/left.png);
}

#right-img {
    background-image: url(../images/right.png);
}

#center {
    background-image: url(../images/background-art.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

#header {
    margin-top: 10vh;
    margin-bottom: 10px;
    font-size: 60px;
    text-shadow: 1px 1px 2px #CAAFDF,
                 -1px 1px 2px #CAAFDF,
                 -1px -1px 2px #CAAFDF,
                 1px -1px 2px #CAAFDF;
}

#UI-layout {
    padding: 10px;
    display: flex;
    justify-content: center;
    width: fit-content;
    gap: 1vw;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

#control-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#dimensions {
    display: flex;
    gap: 10px;
    justify-content: center;
}

#dim-text {
    font-size: 56px;
    font-family: inherit;
    text-align: center;
    height: auto;
    width: 5vw;
    border-radius: 5px;
    border: none;
    border-bottom: 4px dashed #f7d0cb;
    background-color: white;
}

#dim-text:focus {
    outline: none;
}

#dim-button {
    width: 10vw;
    font-size: 36px;
    height: 10vh;
}


button {
    background-color: #FFDFC6;
    border-radius: 5px;
    font-family: inherit;
    font-size: 36px;
    transition: all 0.2s ease;
}

button:active {
    background-color: black;
    color: black;
}

#container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.line,
.square {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}


.square {
    border: 1px solid black;
    background-color: white;
}

.square:hover {
    background-color: aqua;
}

.line {
    display: flex;
}

#footer {
    background-color: cornsilk;
    text-align: center;
    font-size: 24px;
    padding: 8px 0px;
}